.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   background-color: #f5f3ef;
   // .header__wrapper

   &__wrapper {
      display: flex;
      justify-content: space-between;
      height: var(--header);
      align-items: center;
      gap: 24px;
   }

   // .header__main

   &__main {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 32px;
   }

   // .header__logo

   &__logo {
      flex: 0 0 140px;
      img,
      svg {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media (max-width: $mobile) {
         flex: 0 0 116px;
      }
   }

   // .header__inputs

   &__inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
      flex: 0 1 566px;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .header__search

   &__search {
      position: relative;
      input {
         width: 100%;
         height: 56px;
         border-radius: 40px;
         background: var(--Brand-Light-green, #e0e3de);
         padding-left: 42px;
         @include medium_14;
         color: #0d332f;
         &::placeholder {
            color: #0d332f66;
         }
      }
      button {
         width: 16px;
         height: 16px;
         position: absolute;
         top: 50%;
         left: 18px;
         transform: translateY(-50%);
         cursor: pointer;
         img {
            width: 100%;
            height: 100%;
         }
      }
   }

   // .header__address

   &__address {
      height: 56px;
      border-radius: 40px;
      background: var(--Brand-Light-green, #e0e3de);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 18px;
      p {
         display: flex;
         align-items: center;
         gap: 8px;
         @include medium_14;
         color: #0d332f;
      }
   }

   // .header__linksu

   &__links {
      display: flex;
      align-items: center;
      gap: 20px;
      white-space: nowrap;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .header__link

   &__link {
      color: #0d332f;
   }

   // .header__btns

   &__btns {
      display: flex;
      gap: 6px;
      @media (max-width: $mobile) {
         .circle {
            --size: 44px;
            img,
            svg {
               width: 16px;
               height: 16px;
            }
         }
      }
   }

   // .header__phone

   &__phone {
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .header__user

   &__user {
   }

   // .header__burger

   &__burger {
      display: none;
      position: relative;
      &::before,
      &::after,
      span {
         content: "";
         display: block;
         position: absolute;
         height: 1px;
         background-color: #0d332f;
         border-radius: 1px;
         width: 14px;
         left: 50%;
         transform: translateX(-50%);
      }
      &::before {
         top: 23px;
         @media (max-width: $mobile) {
            top: 17px;
         }
      }
      &::after {
         bottom: 23px;
         @media (max-width: $mobile) {
            bottom: 17px;
         }
      }
      span {
         top: 50%;
         transform: translateY(-50%) translateX(-50%);
      }
      @media (max-width: $tablet) {
         display: flex;
      }
   }
}
.header-menu {
   // .header-menu__modal

   &__modal {
      transition-delay: 1s;

      &.open {
         transition-delay: 0s;
         .header-menu__content {
            translate: 0;
            transition-delay: 0.3s;
         }
      }
   }

   // .header-menu__content

   &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      height: 100dvh;
      bottom: 0;
      overflow: auto;
      background: #0d332f;
      color: white;
      width: 504px;
      border-radius: 0 40px 40px 0;
      translate: -100% 0;
      transition: 0.5s ease;
      @media (max-width: $mobile) {
         width: 312px;
         border-radius: 0 32px 32px 0;
      }
   }

   // .header-menu__upper

   &__upper {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      .modal__close {
         position: relative;
         top: unset;
         right: unset;
      }
      .circle {
         --size: 56px;
      }
      ul {
         display: flex;
         gap: 6px;
      }
      @media (max-width: $mobile) {
         padding: 12px;
         .circle {
            --size: 44px;
         }
      }
   }

   // .header-menu__links

   &__links {
      padding-top: 150px;
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      padding-right: 28px;
      gap: 20px;
      flex: 1;
      @media (max-width: $mobile) {
         padding: 0 28px;
         padding-top: 72px;
      }
      button {
         svg {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            rotate: 90deg;
            transition: 0.3s;
         }
         &.active {
            svg {
               rotate: 270deg;
            }
         }
      }
      li {
         & > a,
         & > button {
            display: flex;
            align-items: center;
            gap: 6px;
            color: white;
            @include h3;
         }
         ul {
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            .btn {
               padding: 0 18px;
               @include medium_14;
               border: 1px solid #ffffff26;
            }
         }
      }
   }

   // .header-menu__footer

   &__footer {
      display: flex;
      gap: 6px;
      padding: 20px;
      .circle {
         --size: 56px;
         background-color: #ff6d2a;
         @media (max-width: $mobile) {
            --size: 48px;
         }
      }
      .btn {
         color: white;
         border: 1px solid #ffffff26;
         flex: 1;
         @media (max-width: $mobile) {
            --size: 48px;
         }
      }
   }
}
.header-search {
   z-index: 99 !important;
   @media (max-width: $tablet) {
      z-index: 101 !important;
   }
   // .header-search__content
   &__content {
      padding-bottom: 40px;
      top: var(--header);
      position: absolute;
      width: 100%;
      background-color: #f5f3ef;
      border-radius: 0 0 40px 40px;
      overflow: hidden;
      padding-left: calc(var(--container) + 172px);
      padding-top: 28px;
      .modal__close {
         top: 20px;
         left: 20px;
         right: unset;
         --size: 52px;

         @media (max-width: $mobile) {
            top: 12px;
            left: 12px;
            --size: 44px;
         }
      }
      @media (max-width: $tablet) {
         top: 0;
         padding-left: var(--container);
         padding-right: var(--container);
         padding-top: 24px;
      }
      @media (max-width: $mobile) {
         padding-top: 21px;
         padding-bottom: 32px;
      }
   }
   &__main {
      display: none;
      gap: 40px;
      margin-bottom: 16px;
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      @media (max-width: $mobile) {
         gap: 33px;
         margin-bottom: 12px;
      }
      .header__search {
         width: 100%;
         @media (max-width: $mobile) {
            input {
               height: 48px;
            }
         }
      }
   }
   &__suggest {
      display: flex;
      flex-direction: column;
      gap: 28px;
      @media (max-width: $tablet) {
         padding-top: 20px;
      }
      @media (max-width: $mobile) {
         padding-top: 12px;
      }
   }

   // .header-search__products

   &__products {
      max-width: 1016px;
      display: flex;
      gap: 4px;
      @media (max-width: $tablet) {
         max-width: unset;
         overflow: auto;
         margin-left: calc(var(--container) * -1);
         margin-right: calc(var(--container) * -1);
         padding-left: var(--container);
         padding-right: var(--container);
         width: 100vw;
         & > li {
            flex: 0 0 200px;
         }
      }
   }
   // .header-search__block

   &__block {
      display: flex;
      flex-direction: column;
      gap: 28px;
      max-width: 1016px;
      @media (max-width: $tablet) {
         padding-top: 20px;
         max-width: unset;
         gap: 12px;
      }
   }

   // .header-search__sugs

   &__sugs {
      padding-bottom: 12px;
      display: flex;
      gap: 12px;
      .btn {
         cursor: pointer;
         background-color: white;
         padding: 0 18px;
         --size: 48px;
         @media (max-width: $mobile) {
            --size: 44px;
            padding: 0 12px;
            @include semibold_12;
         }
      }
   }

   // .header-search__header

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
         display: flex;
         align-items: center;
         gap: 16px;
         @media (max-width: $mobile) {
            gap: 12px;
         }
      }
      .btn {
         padding: 0 18px;
         @media (max-width: $mobile) {
            display: none;
         }
      }
      .regular_14 {
         @media (max-width: $mobile) {
            font-size: 12px;
         }
      }
   }

   &__empty {
      .body-text {
         margin-top: 12px;
         margin-bottom: 28px;
      }
      .btn {
         width: fit-content;
         padding: 0 18px;
         @media (max-width: $mobile) {
            width: 100%;
            --size: 48px;
         }
      }
      @media (max-width: $mobile) {
         padding-top: 20px;
      }
   }
}
