.collapse:not(.collapse_show) {
   display: none;
}
.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-weight: 500;
}
.main {
   flex: 1;
   // padding-top: var(--header);
}

.circle {
   --size: 32px;
   flex: 0 0 var(--size);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

label {
   cursor: pointer;
}
.pc {
   @media (max-width: $tablet) {
      display: none;
   }
   @media (max-width: $mobile) {
      display: none;
   }
}
.tablet {
   display: none;
   @media (max-width: $tablet) {
      display: block;
   }
   @media (max-width: $mobile) {
      display: none;
   }
}
.mobile {
   display: none;
   @media (max-width: $tablet) {
      display: none;
   }
   @media (max-width: $mobile) {
      display: block;
   }
}
.pc-tablet {
   display: flex;
   @media (max-width: $mobile) {
      display: none;
   }
}
.tablet-mobile {
   display: none;
   @media (max-width: $tablet) {
      display: flex;
   }
}
