.collapse:not(.collapse_show) {
   display: none;
}
body {
   font-family: $mainFont;
   color: #0d332f;
   background-color: #f5f3ef;
}
.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-weight: 500;
}
.main {
   flex: 1;
   padding-top: var(--header);
}

.container {
   padding: 0 var(--container);
   width: 100%;
   margin: 0 auto;
}
.circle {
   --size: 32px;
   flex: 0 0 var(--size);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

label {
   cursor: pointer;
}
.pc {
   @media (max-width: $tablet) {
      display: none;
   }
   @media (max-width: $mobile) {
      display: none;
   }
}
.tablet {
   display: none;
   @media (max-width: $tablet) {
      display: block;
   }
   @media (max-width: $mobile) {
      display: none;
   }
}
.mobile {
   display: none;
   @media (max-width: $tablet) {
      display: none;
   }
   @media (max-width: $mobile) {
      display: block;
   }
}
.pc-tablet {
   display: flex;
   @media (max-width: $mobile) {
      display: none;
   }
}
.tablet-mobile {
   display: none;
   @media (max-width: $tablet) {
      display: flex;
   }
}

.h1 {
   @include h1;
   @media (max-width: $tablet) {
      @include h1-tablet;
   }
   @media (max-width: $mobile) {
      @include h1-mobile;
   }
}
.h2 {
   @include h2;
   @media (max-width: $tablet) {
      @include h2-tablet;
   }
   @media (max-width: $mobile) {
      @include h2-mobile;
   }
}
.h3 {
   @include h3;

   @media (max-width: $mobile) {
      @include h3-mobile;
   }
}
.h4 {
   @include h4;
}
.price {
   @include price;
   @media (max-width: $tablet) {
      @include price-tablet;
   }
}
.body-text {
   @include body-text;
   @media (max-width: $mobile) {
      @include regular_14;
   }
}
.semibold_16 {
   @include semibold_14;
   font-size: 16px;
}
.semibold_14 {
   @include semibold_14;
}
.medium_16 {
   @include medium_14;
   font-size: 16px;
}
.medium_14 {
   @include medium_14;
}
.regular_14 {
   @include regular_14;
}
.regular_12 {
   @include regular_12;
}
.semibold_12 {
   @include semibold_12;
}
.medium_12 {
   @include medium_12;
}
.btn {
   --size: 56px;
   border-radius: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
   height: var(--size);
   @include medium_14;
   position: relative;
   .loader {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      scale: 0.3;
   }
   &--green {
      background-color: #0d332f;
      color: white;
      @media (hover: hover) {
         &:hover {
            background-color: #07201d;
         }
      }
      &:active {
         background-color: #07201d;
      }
   }
   &--transparent {
   }
   &.loading {
      pointer-events: none;
      span {
         &:not(.loader) {
            opacity: 0;
         }
         &.loader {
            display: block;
         }
      }
   }
   &--grey {
      background-color: #e0e3de;
      @media (hover: hover) {
         &:hover {
            background-color: #cacdc8;
         }
      }
      &:active {
         background-color: #cacdc8;
      }
   }
   &--orange {
      background-color: #ffb12b;
      color: #0d332f;
      @media (hover: hover) {
         &:hover {
            background-color: #feca26;
         }
      }
      &:active {
         background-color: #feca26;
      }
   }
   &--blur {
      background: #f5f3efcc;
      backdrop-filter: blur(20px);
   }
   &.disabled,
   &:disabled {
      background-color: #0d332f0d !important;
      color: #0d332f33 !important;
   }
}
.app-input {
   position: relative;
   --size: 56px;
   --left: 18px;
   --bg: #e0e3de;
   &.filled,
   &:has(input:focus) {
      label {
         translate: 0 -90%;
         font-size: 11px;
      }
   }
   input {
      width: 100%;
      height: var(--size);
      border-radius: 40px;
      background: var(--bg);
      padding-left: var(--left);
      @include medium_14;
      color: #0d332f;
      &::placeholder {
         color: #0d332f66;
      }
   }
   label {
      position: absolute;
      top: 50%;
      left: var(--left);
      transform: translateY(-50%);
      @include medium_14;
      color: #0d332f66;
      pointer-events: none;
      transition: 0.3s;
   }
   @media (max-width: $mobile) {
      --size: 48px;
      --left: 14px;
   }
}
.app-checkbox {
   input {
      display: none;
   }
   display: flex;
   align-items: center;
   gap: 8px;
   @include medium_14;
   color: #0d332f;
   div {
      backdrop-filter: blur(25px);
      width: 18px;
      height: 18px;
      flex: 0 0 18px;
      border-radius: 4px;
      background-color: white;
      transition: 0.3s;
      position: relative;
      &::after {
         content: "";
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-image: url(../img/icons/app-checkbox.svg);
         background-size: 100%;
         background-repeat: no-repeat;
         background-position: center;
         opacity: 0;
         transition: 0.3s;
      }
   }
   &:has(input:checked) {
      div {
         &::after {
            opacity: 1;
         }
      }
   }
}
.loader {
   color: #fff;
   font-size: 10px;
   width: 1em;
   height: 1em;
   border-radius: 50%;
   position: relative;
   text-indent: -9999em;
   animation: mulShdSpin 1.3s infinite linear;
   transform: translateZ(0);
}

@keyframes mulShdSpin {
   0%,
   100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
         0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
   }
   12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
         0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
   }
   25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
         0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
   }
   37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
         0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
   }
   50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
         0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
   }
   62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
         0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
   }
   75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
         2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
         -2em -2em 0 0;
   }
   87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
         0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
   }
}
