<footer class="footer">
   <div class="footer__upper">
      <ul class="footer__links h3">
         <li>
            <a href="#">О компании</a>
         </li>
         <li>
            <a href="#">Акции</a>
         </li>
         <li>
            <a href="#">Контакты</a>
         </li>
         <li>
            <a href="#">Рецепты</a>
         </li>
      </ul>
      <ul class="footer__buttons">
         <li>
            <a href="tel:+ 7 (960) 664-43-22" class="btn">+ 7 (960) 664-43-22</a>
         </li>
         <li>
            <a href="#" class="btn btn--green circle">
               <img src="img/icons/whatsapp.svg" alt="">
            </a>
         </li>
      </ul>
   </div>
   <div class="footer__down">
      <a class="medium_12" href="#">Политика обработки <br> персональных данных</a>
      <a class="medium_12" href="#">Обработка <br> персональных данных</a>
      <span>Made by <a href="#" target="_blank">OKTTA</a></span>
   </div>
</footer>