<html lang="@@lang">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="format-detection" content="telephone=no">
   <meta name="description" content="@@description">
   <meta name="keywords" content="@@keywords">
   <link rel="shortcut icon" href="@@favicon.svg" type="image/svg+xml">
   <link rel="shortcut icon" href="@@favicon.webp" type="image/webp">
   <link rel="shortcut icon" href="@@favicon.png" type="image/x-icon">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <link rel="stylesheet" href="css/style.css">
   <title>@@title</title>
</head>