<header class="header">
   <div class="container">
      <div class="header__wrapper">
         <div class="header__main">
            <a href="index.html" class="header__logo">
               <img src="img/icons/logo.svg" alt="">
            </a>
            <div class="header__inputs">
               <div class="header__search">
                  <input type="text" placeholder="Найти в Tropical Star">
                  <button>
                     <img src="img/icons/search.svg" alt="">
                  </button>
               </div>
               <button class="header__address modal__link" href="#address-modal">
                  <p>
                     <img src="img/icons/geo.svg" alt="">
                     <span>Кастанаевская ул, 30к2</span>
                  </p>
                  <img src="img/icons/arrow-right.svg" alt="">
               </button>

            </div>
            <ul class="header__links medium_14">
               <li>
                  <a href="#" class="header__link">О компании</a>
               </li>
               <li>
                  <a href="#" class="header__link">Рецепты</a>
               </li>
               <li>
                  <a href="#" class="header__link">Контакты</a>
               </li>
            </ul>
         </div>
         <div class="header__btns">
            <a href="tel:999999999" class="header__phone btn btn--grey circle">
               <img src="img/icons/phone.svg" alt="">
            </a>
            <a href="#" class="header__user btn btn--green circle">
               <img src="img/icons/user.svg" alt="">
            </a>
            <button class="header__burger btn btn--grey circle">
               <span></span>
            </button>
         </div>
      </div>
   </div>
</header>