@import "base/style";
@import "components/style";
@import "home/style";
@import "catalog/style";
@import "product/style";
@import "checkout/style";
@import "receipts/style";
@import "account/style";
@import "about/style";
@import "contacts/style";

.cookie-modal {
   position: fixed;
   bottom: 40px;
   left: 50%;
   translate: -50% 0;
   width: 595px;
   color: #0d332fcc;
   padding: 24px;
   border-radius: 40px;
   border: 1px solid var(--Green-15, #0d332f26);
   z-index: 50;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   // .cookie-modal__text
   &__text {
      @include regular_14;
      a {
         @include semibold_14;
         color: #0d332fcc;
      }
   }

   // .cookie-modal__btn

   &__btn {
      --size: 56px;
      border: 1px solid #0d332f26;
   }
   @media (max-width: $tablet) {
      width: 100%;
      left: 0;
      translate: 0;
      bottom: 0;
      border-radius: 32px 32px 0 0;
      padding: 20px;
      border: 0;
      &__text {
         font-size: 12px;
         a {
            font-size: 12px;
         }
      }
      &__btn {
         --size: 48px;
      }
   }
}
